extends layout

block head
  title=title
    
  <!-- Custom styles for this template -->
  link(rel="stylesheet", href="/stylesheets/lightbox/lightbox.css")
  link(rel="stylesheet", href="/stylesheets/projects.css")


block content
  // navigation bar at top of all pages
  nav.navbar.navbar-inverse.navbar-fixed-top
    //left title
    .col-md-2
      a(href='/')
        i.fa.fa-arrow-left.fa-2x
    .col-md-8
      h1 Jeep Revival
  <!-- Nav bar end-->
  .container
    .row
      .col-md-10.col-md-offset-1

        h1 Intro

        p 
          | The goal of this page is to give back to the many individuals that have helped me during my project and to pay it forward to the many more that will
          | venture out to build a weekend warrior like the one I am working on here. This page will show you several examples of things I have
          | fixed and upgraded on my heap. Unfortunately, you'd have to read a novel to learn about everything that I have done so I will highlight many of the
          | larger projects I have undertaken and will keep a more comprehensive list at the end. Each of the items at the end will have links to 
          | either a write-up or a video explaining what I did, so you can learn and maybe even do what I have. Feel free to skip to the end and take a look
          | at some of the individual pieces, but if you're a little more patient, scrolling through the page will show you the evolution of the project,
          | which is pretty cool to see.

        h3 Backstory
        p
          | Ever since I was a young kid I wanted a Jeep to rebuild and wrench on and last summer when I drove out from California I had the opportunity 
          | to get my first car. However, my dad had a different idea and went to the auction and picked up a 
          a(href='/images/jeepRevival/shittyford.jpg', data-lightbox='ford', alt='') ford explorer. 
          | It was a pretty nice car frankly, but not the man beast I was looking for . It ended up puttering out and dying on me and my buddies in 
          a(href="/images/jeepRevival/murdo.jpg", data-lightbox='murdo', alt='') Murdo, South Dakota, 
          |a.k.a "middle of nowhere". Ford tough, I don't think so. This began my quest for a Jeep, 
          | something I could always depend on and build into a weekend warrior. So when I got out to Connecticut, where I was staying for the summer,
          | I began my search and ended up buying this 1999 Cherokee with about 95,000 miles on it. 
   
    .row  
      .col-md-10.col-md-offset-1 

        a(href='/images/jeepRevival/fullSize/jeepStart.jpg', data-lightbox='start', alt='')
          img.img-responsive.center-block(src='/images/jeepRevival/jeepStart.jpg')

    .row
      .col-md-10.col-md-offset-1

        h3 This is going to be a journey. . . .

        p
          | As soon as I paid the guy and drove away the engine light came on, classic, but got it back to where I was staying and took it to a shop
          | to figure out what the problem was. 950 dollars later I was out of the shop with a laundry list of things fixed, but mad at how much it cost. This is
          | when I decided I wouldn't take the Jeep to another shop unless I absolutely needed to. However, it was a complete wreck when I first got it and
          | in short order started burning way too much money into it. Just. Empty. Every. Pocket. I learned that phrase first hand quickly and unfortunately. But,
          | once I got it where is was drivable and dependable I started to figure out how I would turn it into the 
          a(href='/images/jeepRevival/fullSize/dreamJeep.jpg', data-lightbox='dreamjeep', alt='') badass Jeep 
          | I dreamed of it being. 

    .row
      .col-md-10.col-md-offset-1
        h1 Let's start modifying 

        p 
          | It's very easy to get excited about all the different modications to do to a Jeep, but there was so much I needed to fix before I could start
          | lifting it and doing bigger modifications that it took me nearly 5 months before I put new suspension on it. I learned pretty quick that since
          | these vehicles have been around for 30 years that just about any stock part you need is sitting in a junkyard and so I paid several of the
          | local junkyards weekly visits until I got all of the broken plastics, lights, latches, mirrors and screws I was missing.

        h3 Research

        p 
          | Research is the most important thing I've learned out of this experience. I'm not a mechanic, and a lame excuse for a knowledgable Jeep addict,
          | but just about anything someone would ever need to know is on the internet and so I have spent countless hours reading and talking with much more
          | knowledgable people about products, different set ups and modifications. One of my biggest motivations for all of the research was money. 
          | I didn't want to have to do anything twice and wanted it done the right way, even if it cost a few more bucks up front. I joined 
          | a few communities online which have proven invaluable! CherokeeForum.com and a facebook group JeepsOfMass have been the source of tons of
          | information, parts and new friends. 

        h3 4.5" lift kit
        p
          | I purchased a 4.5" short arm lift kit from Rubicon Express just after the summer, but didn't have my of the tools or a place to install it.
          | Despite working on the Jeep on the street in front of my house, that wasn't much of an option when it was 30 degrees outside, but thankfully
          | I found a guy who was willing to help me out. It took a couple of weekends to install the kit because many of the bolts were seized in place
          | and had to be cut out, nonetheless we got it it done. It looks so much meaner with the 33" tires and black rims! I picked up the tires and rims
          | for $250, imagine that. 
        
        h3 Back lift Install

        p
          | After we worked about 8 hours to get the back done, we had to call it, both of us were exhausted and frustrated at how difficult it was to do
          | anything because of how rusted together everything was. I took the back driveshaft off drove it in front wheel drive like a dragster. The
          | looks I got were comical.
         br

        .video-container
          iframe(width='640', height='360', src='https://www.youtube.com/embed/6oXX9xDZHCw', frameborder='0', allowfullscreen='')
        br
        a(href='/images/jeepRevival/fullSize/backAxleLift.jpg', data-lightbox='lift', alt='')
          img.img-responsive.center-block(src='/images/jeepRevival/backAxleLift.jpg')
        br

        a(href='/images/jeepRevival/fullSize/finishedBackAxle.jpg', data-lightbox='lift', alt='')
          img.img-responsive.center-block(src='/images/jeepRevival/finishedBackAxle.jpg')
        
        
        h3 Front Lift Install 
        p
          | After another marathon session we got the front done. The upper control arms had to be cut and bolts pressed out, thankfully John had an enormous C clamp
          | otherwise we would've been in trouble. I again had to drive it home in front wheel drive because we didn't get the SYE put in the transfer case and 
          | it was vibrating hard over 25 mph, but fortunately got the new wheels and tires on. With the tinted windows, removed side rubber, lift, and new wheels
          | this looks like a completely different cherokee.
        br
        .video-container
          iframe(width='640', height='360', src='https://www.youtube.com/embed/Ced4vvvso-w', frameborder='0', allowfullscreen='')
        br
        a(href='/images/jeepRevival/fullSize/finishedLift.jpg', data-lightbox='lift', alt='')
          img.img-responsive.center-block(src='/images/jeepRevival/finishedLift.jpg')
        
        h3.text-center SYE driveshaft NP231 install
        .video-container
          iframe(width='640', height='360', src='https://www.youtube.com/embed/uP-SssHfZ2U', frameborder='0', allowfullscreen='')
        br
        h1 First trails
        p
          | Took the Jeep through some really soft ground, due to all the snow melting, and ended up giving the jeep a nice mud coating. Later on in the day I got 
          | it stuck in some snow trying to get a friend unstuck. After a couple of hours we got him out with the help of about 5 other people, but I had fun, even though
          | we were scratching our heads for a while trying to figure out how to get him out. Successful first trip, but I need recovery gear for sure!

        a(href='/images/jeepRevival/fullSize/firstOffroading.jpg', data-lightbox='offroad', alt='')
          img.img-responsive.center-block(src='/images/jeepRevival/firstOffroading.jpg')
        br
        a(href='/images/jeepRevival/fullSize/muddyPic1.jpg', data-lightbox='offroad', alt='')
          img.img-responsive.center-block(src='/images/jeepRevival/muddyPic1.jpg')
        br
        a(href='/images/jeepRevival/fullSize/muddyPic2.jpg', data-lightbox='offroad', alt='')
          img.img-responsive.center-block(src='/images/jeepRevival/muddyPic2.jpg')
        br
        h1 Tires

        p
          | Remember those tires and rims I picked up for $250, well they had some pretty bad rock rash on them and were godawful in the snow and since it was in 
          | the middle of winter I didn't want to take the Jeep anywhere. Well, I decided that since they didn't have a whole lot of life in them I'd be better off
          | putting new rubber on now and staying safe on the roads. After doing a whole bunch of research, I picked up a set of Goodyear 33" Duratracs, beautiful
          | tire, an aggressive all-terrain that is also pretty good on noise and sticks on ice and snow phenomenally. 


         a(href='/images/jeepRevival/fullSize/newTires.jpg', data-lightbox='offroad', alt='')
          img.img-responsive.center-block(src='/images/jeepRevival/newTires.jpg')
        
        br
        h1 Front Bumper

        p
          | As the semester trudged on I wanted to take my jeep out more and more, but know that I needed a winch if I ever wanted to go out by myself, I don't have
          | friends at school with offroad trucks. But eventually decided that not only would a heavy duty rock crawling bumper look awesome, but would be necessary
          | for that winch when I got one. So at the end of the semester I called up JCR Offroad and ordered their Vanguard PreRunner for the Cherokee. It took 5
          | weeks to get, but looks badass!

        p
          | It came without a powdercoat so I primed it up and coated it with Rustoleum fine textured black. It also came with a unibody tie-in kit because the Cherokee
          | is made with a bunch of sheet metal and the front end needed some reinforcing. Took me a while to get it painted and mounted up myself, 
          | but it looks great! Now, I'm in the hunt for a winch to mount on the steel chariot.

        a(href='/images/jeepRevival/fullSize/bareSteelBumper.jpg', data-lightbox='offroad', alt='')
          img.img-responsive.center-block(src='/images/jeepRevival/bareSteelBumper.jpg')
        br
        a(href='/images/jeepRevival/fullSize/newBumper.jpg', data-lightbox='offroad', alt='')
          img.img-responsive.center-block(src='/images/jeepRevival/newBumper.jpg')
        br
        a(href='/images/jeepRevival/fullSize/greenTowHooks.jpg', data-lightbox='offroad', alt='')
          img.img-responsive.center-block(src='/images/jeepRevival/greenTowHooks.jpg')

        br
        h1 Upgrading Injectors

        p
          | Chrysler ended up putting a low grade injector into the Cherokees which only had one spray port. This hurt the throttle response as the spray is 
          | much thicker than it should be and takes longer to ignite. I bought some ultrasonically cleaned 703 four port injectors and threw them in my Jeep.
          | It was a bit of a pain to get everything cleaned out, but the throttle response improvement is amazing and love them! One of the best performance
          | mod's I've done so far. Here is a picture and a video of what I'm talking about.


        h3 Fuel Rail
        a(href='/images/jeepRevival/fullSize/injectors.jpg', data-lightbox='offroad', alt='')
          img.img-responsive.center-block(src='/images/jeepRevival/injectors.jpg')
        br
        .video-container
          iframe(width='640', height='360', src='https://www.youtube.com/embed/bcMJVpzLapw', frameborder='0', allowfullscreen='')


        h1 Paint 

        p
          | I'd love to paint my Cherokee this 
          a(href='/images/jeepRevival/fullSize/tanCherokee.jpg', data-lightbox='tan') color,
          | but frankly paint is expensive and there are so many more things on the list to do that are higher priorities;
          | however, I had a little fun and made it a nice two tone, with a black strip on the bottom. In the process of taking the back plastic and fenders off I found
          | some bad rust. I'm going to see if I can't cut off a good piece from a junkyard and weld it in there, but repairing that is going to be a nasty job. I
          | left that for another day and took a wire brush and ground off as much of the rust on the doors as I could, but the front one is bad and will need
          | replacing at some point, but otherwise I think the paint looks great!


        a(href='/images/jeepRevival/fullSize/rustyBackQuarter.jpg', data-lightbox='offroad', alt='')
          img.img-responsive.center-block(src='/images/jeepRevival/rustyBackQuarter.jpg')
        br
        a(href='/images/jeepRevival/fullSize/rustyDoors.jpg', data-lightbox='offroad', alt='')
          img.img-responsive.center-block(src='/images/jeepRevival/rustyDoors.jpg')
        br
        a(href='/images/jeepRevival/fullSize/twoTone.jpg', data-lightbox='offroad', alt='')
          img.img-responsive.center-block(src='/images/jeepRevival/twoTone.jpg')
        br

        h1 Update June 12th, 2018

        p 
          | I haven't updated this in too long, but you bet I've put quite a bit of work into the jeep! 

        p
          | The list of projects that I've completed on the Jeep is long, but since I've updated this last, I've driven is across the country twice, and my brother has driven it once. It broke down on my second trip just outside New Orleans and got itself a rebuilt transmission. That really hurt the bank. It hasn't seen much trail wise. I haven't taken it out due to my weariness of getting it home or breaking it and having to spend money I don't have to fix it. However, it is ready to take on the trails at this point. I have gone through the jeep bumper to bumper fixing anything that looked remotely in bad shape and its all good. Here is an overview of several of the projects. Unfortunately, I'm bad at taking pictures while I work on things, but I have found quite a few videos that effectively explain what I've done.

        h1 Rear Bumper

        p
          | I researched bumpers for a long time and loved the layout that the JCR bumper provided and even though it was pricey, I popped for it. Over time I've soured on it a bit, it sags a bit and the plunger has frozen in place, but other than that it it certainly is extremely function and provides several awesome mounting points that I really like. I don't have pictures of when I first installed it anymore, but here is a good look at what it looks after being installed for 2 years.

        br
        a(href='/images/jeepRevival/fullSize/rearBumper.jpg', data-lightbox='offroad', alt='')
          img.img-responsive.center-block(src='/images/jeepRevival/fullSize/rearBumper.jpg')
        br
        h3 Installation video

        .video-container
          iframe(width='640', height='360', src="https://www.youtube.com/embed/5qFXJ11Z9dA", frameborder='0', allowfullscreen='')
        br
        p
          | It hold two RotoPax Cans, I got a 2 gallon water and fuel can for it. It holds the Hi-Lift Jack and has a center mount for the CB Antenna, which I really like. It can accommodate about any size tire, I have a 33" tire on there now and don't intend to go any larger. It does make looking out the rear view mirror almost worthless, which is probably its biggest drawback. 

        h1 Motor Mounts & Exhaust Manifold

        p 
          | With anything that is 20 years old, the rubber parts tend to fall apart and whoever owned this Jeep before me absolutely neglected to maintain any of these parts. The motor mounts are pretty common parts to go bad on this jeep so I found myself some nice Brown Dog Motor Mounts. They're not cheap at $100 a set, but they come with a lifetime warranty. I opted for the natural rubber set to keep the vibes down and threw them in. Unfortunately it has created some new vibrations right at idle, which is a bit more annoying, but the throttle response is noticeably better and this will hopefully keep the exhaust manifold from cracking again. I ended up doing the exhaust manifold at the same time, which made installing these easier

        .video-container
          iframe(width='640', height='360', src="https://www.youtube.com/embed/9BJY7GUj_qE", frameborder='0', allowfullscreen='')
        br
        p
          |Replacing the exhasut manifold isn't that big of a deal, but getting to the bolts that hold the intake in place are a pain. This definitely helps installation of the driver's side motor mount. Overall very straightforward installation, you do have to remove the fuel rail which needs to be done with a certain amount of care. The picture below shows the new exhaust manifold installed after everything was cleaned up. You can also see the new motor mount in place.
        br
        a(href='/images/jeepRevival/fullSize/exhaustManifold.jpg', data-lightbox='offroad', alt='')
          img.img-responsive.center-block(src='/images/jeepRevival/fullSize/exhaustManifold.jpg')
        br

        h1 Hood Pins

        p
          | About two years ago I replaced the hood release cable because it froze. Well it happened again and decided that I'd never let it happen again. It's a big pain in the butt to open the hood when the cable is stuck. I got rid of the cable all together and put hood pins in. Technically its not as secure because someone could open the hood from the outside of the car, but I can't imagine someone having the wherewithall to do that. Plus they'd have to have the tools and the time to take something they wanted. All in all, I'm not worried about it. 

        p
          | The installation is fairly straighforward. I bought a kit from SummitRacing.com that was effectively plug and play. You have to disconnect the current latching hardward and install the pins in there place. However, you do have to reuse the springs to make it easier to open the hood. Here are a couple of pictures of what I ended up doing.

        a(href='/images/jeepRevival/fullSize/pinSprings.jpg', data-lightbox='offroad', alt='')
          img.img-responsive.center-block(src='/images/jeepRevival/fullSize/pinSprings.jpg')
        br
        p 
          | I took the only springs and JB welded them to the outside of the hood pins. Looks clean and works well.
        
        a(href='/images/jeepRevival/fullSize/hoodHoles.jpg', data-lightbox='offroad', alt='')
          img.img-responsive.center-block(src='/images/jeepRevival/fullSize/hoodHoles.jpg')
        br
        p
          | I had to drill fairly large holes and then continue to ream them. This was because of the swing of the hoo and the thickness of the hood. Without a wide enough hole the pins would scrape on the hood. The bottom of the hood is small enough for the spring however and makes good contact.
        
        a(href='/images/jeepRevival/fullSize/underHood.jpg', data-lightbox='offroad', alt='')
          img.img-responsive.center-block(src='/images/jeepRevival/fullSize/underHood.jpg')
        br
        p
          | The top of the hood gets a plate, unfortunately I ruined the chrome plating a bit so I decided to paint them black. Nothing fancy, but it work pretty good and looks decent. 
        a(href='/images/jeepRevival/fullSize/hoodTop.jpg', data-lightbox='offroad', alt='')
          img.img-responsive.center-block(src='/images/jeepRevival/fullSize/hoodTop.jpg')
        br

        h1 Rear Main Seal

        p
          | The Jeep has been leaking oil for years and I wanted to finally get it to stop so I bit the bullet and went and got a new oil pan gasket and rear main seal. This ended up being an enormous pain in the ass. First, its just messy, getting the oil pan off with not spilling oil is quite a challenge. Not only that, I wanted to clean up the rust on the pan and after taking a wire wheel to it for a couple hours I discovered it had rusted through. I decided I'd ought to buy a new pan. The dealership was asking $330 for one and the aftermarket parts did not have baffles in them so I opted for a junkyard pan. It was in pretty good shape, but I cleaned it up as best as I could and gave it a new coat of paint. 
        p  
          | I also unfortunately broke one of the crankshaft bearing cap bolts. You can only imagine the cussing storm that ensued when i realized my torque wrench didn't work anymore and I had to get the bolt out. Luckily the same junkyard had the bolt and I was easily able to get the bolt out and replace it. 

        p
          | Putting everything back together didn't prove terribly difficult, but after spending a couple of days grinding rust down and putting it all back together, it still leaks! I guess thats just the way the jeep is just going to stay at this point. 

        p
          | Check out this video to see how this replacement is done.

        .video-container
          iframe(width='640', height='360', src="https://www.youtube.com/embed/L40xkuxCbYk", frameborder='0', allowfullscreen='')
        br

        h1 Valve Cover Gasket

        p
          | I figured at the same time that I'd clean up the valve cover as well and I could see there were a few small leaks from the valve cover so I went ahead and replaced that as well. Fortunately FelPro makes this really easy and gives you all the rubber grommets. Unfortunately, I lost one of the metal ones, so I had to grab one off of a jeep in a junkyard that was 20 miles from me. But other than that, replacing the gasket on the valve cover is probably a 45 minute job tops. I also opted to give my valve cover a fresh coat of paint and clean it up a bit, so it took me a bit longer. 

        p
          |Take a look here to see how easy this is!

        .video-container
          iframe(width='640', height='360', src="https://www.youtube.com/embed/n_IdNxDDbIc", frameborder='0', allowfullscreen='')
        br

        h1 CB/PA Radio

        p
          | For the longest time I wanted to put a CB/PA Radio in my jeep. Moreso for the PA than the CB, but I figured I could have some fun with the CB plus is actually is functional on the trail, which I intend the Jeep to spend a lot of time in the future. I opted for a Cobra 29 LTD edition that fit nicely between the visors of my XJ. This put it nicely out of the way, but not too far out of the way to use.

        p
          | To mount it here, I built a bracket that sat behind the headliner. Yes, that means I had to remove the headliner to get it to fit. This easily doubled the amount of time this should have taken, but it looks super clean and love where it sits in the jeep. 

        a(href='/images/jeepRevival/fullSize/CBRadio.jpg', data-lightbox='offroad', alt='')
          img.img-responsive.center-block(src='/images/jeepRevival/fullSize/CBRadio.jpg')
        br

        p
          |The PA Speaker is mounted underneath the jeep by the bumper. I opted for a 20W speaker than already had an amplifier in it, which made it much easier on my to install. 

        h1 CPS Sensor Conundrum

        p 
          | So I'm driving back from the beach one day with some friends and the jeep dies going 65 mph down the freeway, I immediately pull off. It starts right back up and we drive another 100 yards and dies on me again. I immdiately think its a fuel pump.... I towed it over to our mechanic's. I wanted to get a professional opinion on what he thought it was. It could've been the fuel pump, distributor, a sensor, who knows. The next day when I came by to talk to him, it start right up and he was conviced it was the CPS sensor. I ended up driving it home with no problems. I was extremely confused by that, but after reading up on it, it made perfect sense. After I (painstakingly) replaced it, all of the weirdness I had been experiencing with the jeep went away: Slow acceleration, odd timed shifting, dying sporatically. I bought the OEM sensor as I saw online that some of the aftermarket parts did not perform properly. The OEM part was $90 which was a bummer.

        p
          | I'm not sure why the sensor had a problem, but I do know that its mounted to my transmission and that my tranny is running warm due to not having the right gears in my diffs for the tire size I'm running. I would replace them, but its about $3000 bucks to get it done and I'm not made of money okay. I'm opting to install a trans cooler, that should help that out a bit and hopefully keep everything running a little bit better. I also have hood vents that are about to go in so all in all things should be running at the right temps and keep other parts from having problems in the future.

        h1 Leather Seats

        p
          | At some point a couple years ago, I got enamored with the idea of putting leather seats in the jeep, especially because the rear bench was really uncomfortable and the prospect of having electric heated seats really got me going. So I found some on the internet somewhere and picked them up for $200 and slowly got to work. It's a bit of a pain to get them to work and I didn't even make all of the electric functions work on the front seats. Only the tilt is active. Unfortunately, I did not get the heated part of the seats working. I just didn't want to invest the time it would've required to make them work. There are extensive write ups on how to get this done, so I won't go into the details of it, but I took seats from a ZJ and installed them. They are certainly more comfortable and I really appreciate the adjustable headrests. The rear seat is split 60/40 which has been nice, I've used that a couple of times. The back of the seat is also quite a bit taller so you actually feel like you have a full seat to sit against. The con to that, is that when you fold the seats down you can't have the front seats set all the way back, so for a guy over 6 feet tall that can be a bit of an issue. This just causes a little loss in storage, but with a roof rack and a tire carrier, there is plenty of space. 
        p 
          a(href='https://www.naxja.org/forum/showthread.php?t=1087689', target='blank') ZJ Seat Swap Write Up

        p
          | Here's what the interior looks like now!
        a(href='/images/jeepRevival/fullSize/frontSeats.jpg', data-lightbox='offroad', alt='')
          img.img-responsive.center-block(src='/images/jeepRevival/fullSize/frontSeats.jpg')
        br
        a(href='/images/jeepRevival/fullSize/backSeats.jpg', data-lightbox='offroad', alt='')
          img.img-responsive.center-block(src='/images/jeepRevival/fullSize/backSeats.jpg')
        br
        a(href='/images/jeepRevival/fullSize/6040.jpg', data-lightbox='offroad', alt='')
          img.img-responsive.center-block(src='/images/jeepRevival/fullSize/6040.jpg')
        br
        a(href='/images/jeepRevival/fullSize/foldingSeats.jpg', data-lightbox='offroad', alt='')
          img.img-responsive.center-block(src='/images/jeepRevival/fullSize/foldingSeats.jpg')
        br



        
          
    .row
      .col-md-5.col-md-offset-1
        h1 Fixes Completed

        ul
          li 
            a(href='https://www.youtube.com/watch?v=dof5b-ahprQ', target='blank') Brakepads/Rotors
          li 
            a(href='https://www.youtube.com/watch?v=OT5-aPi1FcU', target='blank') Rear Brakes
          li 
            a(href='https://www.youtube.com/watch?v=dcL_0TWeZJY', target='blank') Cleaned Heater Core
          li 
            a(href='http://www.naxja.org/forum/showthread.php?t=1067508', target='blank') Hood Latch Mechanism
          li 
            a(href='https://www.youtube.com/watch?v=pMDaU3seKH8', target='blank') Interior head Liner
          li Rear Hatch Shocks
          li 
            a(href='https://www.youtube.com/watch?v=9Wc2fxPNi9A', target='blank') Rear Hatch Lock mechanism
          li 
            a(href='https://www.youtube.com/watch?v=diW-NPz0-60', target='blank') Driver side door wiring
          li 
            a(href='https://www.youtube.com/watch?v=aE9aNHFehqw', target='blank') Front U-joints
          li 
            a(href='https://www.youtube.com/watch?v=5C5nxQunOks', target='blank') Driver side Hub Replaced
          li 
            a(href='https://www.youtube.com/watch?v=qtXQvVNg6vI', target='blank') Steering box tightened
          li Various Broken Interior plastics
          li Cigarette lighter electrical
          li 
            a(href='https://www.youtube.com/watch?v=g6jMgxvQOxY', target='blank') Driver side door window worm gear
          li 
            a(href='https://www.youtube.com/watch?v=L40xkuxCbYk', target='blank') Rear main Seal (still leaks however) and oil pan gasket
          li
            a(href='https://www.youtube.com/watch?v=n_IdNxDDbIc', target='blank') Valve Cover Gasket
          li
            a(href='https://www.youtube.com/watch?v=uYu-zFmRZmI', target='blank') New Exhaust manifold
          li 
            a(href='https://www.youtube.com/watch?v=TUZFIdvfaY4', target='blank') CPS Sensor Replacement
          li New Front Bump Stocks
          li New Steeting Stabilizer
          li Steering Pump Soft Line Replacement



      .col-md-5
        h1 Upgrades Completed
        ul
          li 
            a(href='/images/liftinstall.pdf') 4.5" Rubicon Express Short Arm Lift
          li Rubicon Express/Bilstein Shocks
          li SYE Driveshaft
          li Extended Rear Driveshaft
          li ZJ Steering

          li 33" Goodyear Duratracs
          li 
            a(href='https://www.jcroffroad.com/product/XJB/XJFV.html') JCR Front Bumper & Unibody Tie-in 
          li
            a(href='https://www.jcroffroad.com/product/XJBR/XJAC.html') JCR Rear Bumper with Tire Mount
          li Cragar D Window Simulated BeadLock rims
          li 
            a(href='https://www.youtube.com/watch?v=IY0ZVnwXOFo', target='blank') H4 Conversion Headlights & Wire Harness
          li 
            a(href='https://www.youtube.com/watch?v=i6CGbQwqQNo', target='blank') 4 Port injectors
          li Interior LED Lighting
          li Heated mirrors
          li 
            a(href='/images/fenderInstall.pdf') Buschwacker Flat Fender Flares
          li 
            a(href='https://www.youtube.com/watch?v=Z4dv0DPosiQ', target='blank') Solid HD Front & rear Differential Covers 
          li 
            a(href='https://www.youtube.com/watch?v=fwi2g40ymL0') ZJ Rear Brake Disc Conversion
          li 
            a(href='https://www.youtube.com/watch?v=7Hd7MepJn-E') 3/4" Coil Spacer leveling Kit
          li Husty Floor Liners
          li 
            a(href='https://superwinch.com/products/superwinch-tiger-shark-9500-sr-12v-1595201-winch') Superwinch Tiger Shark 9500 SR Winch
          li
            a(href='https://www.youtube.com/watch?v=2bZ38DSwMnI', target='blank') Brown Dog Motor Mounts
          li
            a(href='https://www.youtube.com/watch?v=feXQCq7Bdq4', target='blank') Hood Pins
          li 
            a(href='https://www.cobra.com/products/29ltd', target='blank') CB Radio
          li Roof Rack
          li Extended Rear Bump Stocks




  script(type="text/javascript", src="/javascripts/lightbox/lightbox.js")
